body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 253, 253)
}

a:hover {
    color: rgb(112, 112, 112)
}

.App {
    text-align: center;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer";
}

header {
    grid-area: header;
    background-color: rgb(156, 144, 144);
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    background-color: #282c34;
    height: 100%;
}

.nav-active-style {
    text-decoration: underline;
    color: white;
}

nav>ul {
    list-style-type: none;
    display: flex;
    width: 100%;
}

#bookButton>a {
    color: black;
    padding: 20px;
    margin: 5px;
    text-decoration: none;
}

#bookButton {
    background-color: orange;
    margin: 5px;
    padding: 5px;
}

#bookButton:hover {
    cursor: pointer;
}

nav>ul>a>li {
    margin-left: 10px;
}

nav>ul>a {
    text-decoration: none;
}

main {
    grid-area: main;
    padding: 10px;
    background-color: rgb(209, 207, 207);
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: #282c34;
    color: white;
}

#searchbutton {
    margin-bottom: 20px;
    margin: 20px;
    width: 25%;
    height: 30px
}

#searchbutton:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}

#searchbar {
    width: 80%;
    height: 30px;
    font-size: 20px
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#book_container {
    width: 200px;
}

@media screen and (max-width: 900px) {
    main {
        border-left: none;
        width: 100%;
    }
    .App {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        grid-template-rows: 150px 100px auto;
        grid-template-areas: "header main" "nav main" "footer main";
    }
    nav>ul {
        display: inline;
    }
    nav>ul>li>a {
        color: black;
    }
    .nav-active-style {
        color: black;
    }
    nav {
        background-color: rgb(179, 179, 147);
        width: 100%;
    }
    nav>div {
        width: 50%;
        margin-left: 15px;
    }
    #wrapper {
        max-width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .App {
        display: block;
    }
    header>div>h1 {
        padding: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }
    nav {
        display: block;
        text-align: center;
        padding: 5px;
        padding-left: 0;
    }
    nav>div {
        margin: 0;
        width: 100%;
    }
    nav>ul>li {
        display: inline;
    }
    nav>ul>li>a {
        margin-left: 0px;
    }
    nav>ul {
        display: inline;
    }
    main {
        border-left: none;
    }
    .App {
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }
    footer {
        padding: 10px;
    }
}